body{
    background-image: url("https://images.app.goo.gl/DDamEGJ6e2hDCt68A");
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    border-image-repeat: repeat;
  }